Source: eos-codecs-manager
Section: admin
Priority: standard
Maintainer: Mario Sanchez Prada <mario@endlessm.com>
Build-Depends: debhelper (>= 9),
	dh-autoreconf,
	dh-systemd,
	eos-metrics-0-dev,
	libgstreamer1.0-dev,
	libgstreamer-plugins-base1.0-dev,
	pkg-config,
	systemd
Standards-Version: 3.8.0
Homepage: http://www.endlessm.com

Package: eos-codecs-manager
Architecture: any
Depends: ${misc:Depends},
         bash,
         gnupg,
         rsync,
         systemd,
         xterm,
         xz-utils
Description: Endless Codecs Manager
 Collection of tools to help manage the extra codecs that can be
 installed in the system.
 .
 This package consists of 2 components:
 * A boot-time service to ensure that any codecs pack provided with
   the OS image gets deployed (if the decryption key is present).
 * A helper tool to be used by gstreamer-plugins-base when some app
   tries to install missing codecs by calling gst_install_plugins_async,
   which at the moment only reports the event to the metrics system.

Package: eos-codecs-pack-base
Architecture: all
Depends: ${misc:Depends},
         libavcodec-extra58,
         chromium-codecs-ffmpeg-extra
Conflicts: eos-core
Description: Endless Codecs Pack (Base)
 This metapackage depends on the relevant packages that would be
 included in the base pack of codecs, to be activated in systems
 where either Endless or the end user paid the relevant licenses.
 .
 NOTE: This package is not meant to be installed, as it's just a
 mechanism to group the relevant packages that would be part of
 this pack. That's why it's declared to conflict with eos-core.
